---
import "../styles/navigation.css";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { defaultLang, ui } from "../i18n/ui";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);

const pathname = Astro.url.pathname;

const routes = [
  { name: "nav.about", path: `/${lang}/about/` },
  { name: "CV", path: `/${lang}/CV/` },
];
---

<div>
  <section class="top-nav">
    <input id="menu-toggle" type="checkbox" />
    <label class="menu-button-container" for="menu-toggle">
      <div class="menu-button"></div>
    </label>
    <div class="menu">
      <a href={`/${lang}/`}>{t("nav.home")}</a>
      {
        routes.map((route) => (
          <a class={pathname === route.path ? "active" : ""} href={route.path}>
            {console.log("path: " + pathname)}
            {console.log(route.path)}
            {console.log("active: " + (pathname === route.path))}
            {route.name.slice(0, 4) === "nav."
              ? t(route.name as keyof (typeof ui)[typeof defaultLang])
              : route.name}
          </a>
        ))
      }
    </div>
  </section>
</div>
