---
type Props = {
  title: string;
  events: Array<{
    date: string;
    company: string;
    position: string;
    missions: Array<string>;
  }>;
};

const { title, events } = Astro.props;
---

<>
  <div class="title">
    <h2>{title}</h2>
  </div>
  {
    events.map((event) => (
      <span class="event">
        <span>{event.date}</span>
        <div class="pointer" />
        <div class="about-event">
          <h3>{event.company}</h3>
          <span>{event.position}</span>
          <ul>
            {event.missions.map((mission) => (
              <li>{mission}</li>
            ))}
          </ul>
        </div>
      </span>
    ))
  }
</>

<style>
  h2 {
    font-size: 3rem;
  }
  h3 {
    margin: 0;
  }
  .title {
    width: 70%;
  }
  .event {
    padding: 0 2rem;
    position: relative;
    width: 70%;
  }
  .event {
    border-left: 0.1rem solid var(--main-text-color);
  }
  :global(.dark) .event {
    border-left: 0.1rem solid var(--dark-text-color);
  }
  /* :global(.dark) .about > span:first-child {
    border-image: linear-gradient(to top, white 50%, transparent 50%) 1 100%;
  }
  :global(.dark) .about > span:last-child {
    border-image: linear-gradient(to bottom, white 50%, transparent 50%) 1 100%;
  } */
  .pointer {
    background-color: var(--main-text-color);
    color: var(--main-text-color) !important;
    shape-outside: circle(50%);
    clip-path: circle(50%);
    width: 1rem;
    height: 1rem;
    position: absolute;
    transform: translateY(-50%);
    top: 0.5rem;
    left: -0.5rem;
  }
  :global(.dark) .pointer {
    background-color: var(--dark-text-color);
    color: var(--dark-text-color) !important;
  }
</style>
